.maintop
    min-height: 650px
    width: 100%
    background: url(../img/bg.jpg) center center/cover no-repeat
.rmlogo
    padding-top: 20px
    min-height: 75px
.rmoffical
    margin: 0 auto
    margin-top: 21px
    text-align: center
    color: white