@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-style: normal;
  font-size: normal;
}

a {
  text-decoration: none;
}

.maintop {
  min-height: 650px;
  width: 100%;
  background: url(../img/bg.jpg) center center/cover no-repeat;
}

.rmlogo {
  padding-top: 20px;
  min-height: 75px;
}

.rmoffical {
  margin: 0 auto;
  margin-top: 21px;
  text-align: center;
  color: white;
}

.btnnum {
  width: 153px;
  height: 32px;
  left: 0px;
  top: 0px;
  background: #C70101;
  border-radius: 5px;
  color: white;
  margin-left: 5px;
  padding-top: 6px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s all;
  margin-top: 5px;
  user-select: none;
}

.btnnum:active {
  background: white;
  color: #C70101;
}

.numtxt {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: white;
  transition: 0.2s all;
}

.numtxt:hover {
  color: #393939;
}

.num {
  margin-top: 20px;
}

.maintxt {
  color: white;
  margin-top: 100px;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.maintxt_h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
}

.maintxt_h2 {
  padding-top: 25px;
  padding-left: 5px;
}

.clocklogo {
  margin-left: 60px;
  margin-top: 60px;
  width: 133px;
}

.clocklogo_2 {
  margin-top: 60px;
  width: 133px;
}

.clocklogo_3 {
  margin-left: 45px;
  margin-top: 60px;
  width: 133px;
}

.clocklogo_h1 {
  margin-left: 41px;
}

.clocklogo_h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding-top: 24px;
  color: white;
}

.btnmain {
  margin-top: 65px;
  margin-left: 54px;
  width: 300px;
  height: 50px;
  left: 1px;
  top: 2px;
  background: #C70101;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: white;
  padding-top: 14px;
  transition: 0.2s all;
  cursor: pointer;
  user-select: none;
}

.btnmain:active {
  background: white;
  color: #C70101;
}

.txtmain {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: white;
  padding-left: 160px;
  padding-top: 10px;
}

.txtmain_a {
  color: white;
  pointer: cursor;
  transition: 0.2s all;
}

.txtmain_a:hover {
  color: white;
}

.txtmain_a:active {
  color: #C70101;
}

.secondblock {
  min-height: 472px;
  background-color: #F6F6F6;
}

.sectxt {
  font-weight: 700;
  font-size: 30px;
  padding-top: 70px;
  line-height: 30px;
  color: black;
  text-align: center;
}

.spologo {
  margin-top: 72px;
}

.spologo_cen {
  margin-top: 72px;
  margin-left: 142px;
}

.spologo_h1 {
  padding-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: black;
}

.spologo_h2 {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding-top: 28px;
}

#iconlogo_1 {
  margin-left: 115px;
}

#iconlogo_2 {
  margin-left: 40px;
}

#iconlogo_3 {
  margin-left: 120px;
}

#sp_1 {
  padding-left: 73px;
}

#sp_2 {
  padding-left: 120px;
}

#sp_3 {
  padding-left: 100px;
}

#lr {
  color: #FF0000;
  text-decoration: underline;
}

#spp_2 {
  padding-left: 25px;
}

.inputsec {
  min-height: 680px;
  background: url(../img/bg2.jpg) center center/cover no-repeat;
}

.inputtxt {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: white;
  padding-top: 102px;
}

.inputtxt_h2 {
  padding-top: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.inputpanel {
  margin-top: 36px;
}

.intstroke {
  width: 303px;
  height: 52px;
  background: #FFFFFF;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-appearance: none;
  transition: 0.6s all;
  padding-left: 20px;
}

.intstroke:focus {
  box-shadow: 0px 0px 16px #994A4A;
  border-color: grey;
  background: #DCDCDC;
}

nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.intbtn {
  width: 303px;
  height: 58px;
  background: #C70101;
  color: white;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 17px;
  transition: 0.2s all;
  border: none;
  border-radius: 5px;
}

.intbtn:active {
  background: white;
  color: #C70101;
}

* {
  font-family: 'MuseoSansCyrl', sans-serif;
}
