.catalog {
  padding-top: 80px;
  padding-bottom: 100px;
}

.catalog_h1 {
  text-align: center;
}

.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog__tab {
  width: 222px;
  height: 52px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #D0D0D0;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6B6B6B;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.4s all;
}

.catalog__tab:hover {
  box-shadow: 3px 3px 20px #C70101;
  border: none;
}

.catalog__dt {
  transform: skewX(25deg);
}

.catalog_active {
  color: #fff;
  background-color: #C70101;
  border: none;
}

.catalog__content {
  margin-top: 60px;
}

.catalog-item {
  width: 303px;
  min-height: 442px;
  border: 2px solid #E8E8E8;
  padding: 20px 20px 26px 20px;
}

.catalog-item_img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 140px;
}

.catalog-item_subtitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.catalog-item_descr {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.catalog-item_link {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #C70101;
  text-decoration: underline;
}

.catalog-item_link:hover {
  color: #C70101;
}

.catalog-item__footer {
  display: flex;
  justify-content: space-between;
}

.catalog-item__oldprice {
  font-weight: 300;
  font-size: 14px;
  text-decoration: line-through;
  color: #555555;
}

.catalog-item__newprice {
  font-weight: 700;
  font-size: 20px;
  color: #050505;
}

.catalog-item__btn {
  width: 135px;
  height: 44px;
  background-color: #C70101;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  transition: 0.2s all;
}

.catalog-item__btn:active {
  background-color: #741D1D;
}

hr {
  margin-top: 19px;
  margin-bottom: 21px;
  background: #E8E8E8;
  border-bottom: none;
}
